.main-body {
    background-color:black;
    min-width: 100vw;
    min-height: 100vh;
}

.main-text {
    color: white !important;
    margin-top: 30px;
}
.rc-slider-handle{
    width: 0px !important ;
    height: 30vh !important;
    border-radius: 0 !important;
}